.swiper-slide-active .slider-sub-title {
   animation: fadeInRight 2s;
}

.swiper-slide-active .slider-title {
   animation: fadeInRight 1.5s;
} 
.swiper-slide-active .slider-button {
   animation: fadeInUp 2.5s;
}
span.swiper-pagination-progressbar-fill {
   background: #feab0c!important;
}
.swiper-button-prev, .swiper-button-next {
   color: #feab0c!important;
}