@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
   font-family: 'Laila', serif;
}
p{
   font-family: 'Nunito', sans-serif;
}
h1,h2,h3,h4,h5,h6{
   font-family: 'Laila', serif;
}
.shape-bg{
   background-image: url(./assets/images/shape-bg.jpg);
}